services:
  frontend:
    image: korngoldwerkausgabe/edirom-online-frontend-ewk
    container_name: eof-ewk-${EDITION_NAME}
    #environment: 
      #- APP_PATH=/test
      #- BACKEND_PATH=/TEST
      #- BACKEND_URL=https://dev.korngold-werkausgabe.de/editions/${EDITION_NAME}/backend
    ports:
    - 8089:80
  backend:
    image: korngoldwerkausgabe/edirom-online-backend-ewk
    container_name: eob-ewk-${EDITION_NAME}
    restart: unless-stopped
    environment: 
      - EXIST_PASSWORD_FILE=/run/secrets/existdb_passwd
      - EXIST_ENV=development
      - EXIST_DEFAULT_APP_PATH=
    volumes:
      - ./build-xar/${EDITION_SHORT}.xar:/opt/exist/autodeploy/${EDITION_SHORT}.xar
    secrets:
      - source: existdb_passwd
    ports:
    - 8080:8080

secrets:
  existdb_passwd:
    file: ./edirom-docker-setup/existdb_passwd.txt