services:
  frontend:
    build:
      context: .
      dockerfile: local.frontend.Dockerfile
    container_name: eof-ewk-${EDITION_NAME}
    ports:
    - 8089:80
  backend:
    build:
      context: .
      dockerfile: local.backend.Dockerfile
    container_name: eob-ewk-${EDITION_NAME}
    restart: unless-stopped
    environment: 
      - EXIST_PASSWORD_FILE=/run/secrets/existdb_passwd
    secrets:
      - source: existdb_passwd
    ports:
    - 8080:8080

secrets:
  existdb_passwd:
    file: ./existdb_passwd.txt