services:
  frontend:
    build:
      context: .
      dockerfile: edirom-docker-setup/local.frontend.Dockerfile
    container_name: eof-ewk-${EDITION_NAME}
    ports:
    - 8089:80
  backend:
    build:
      context: .
      dockerfile: edirom-docker-setup/local.backend.Dockerfile
    container_name: eob-ewk-${EDITION_NAME}
    restart: unless-stopped
    environment: 
      - EXIST_PASSWORD_FILE=/run/secrets/existdb_passwd
      - EDIROM_CONTENT_PATH=${EDIROM_CONTENT_PATH:-../Edirom/content}
    secrets:
      - source: existdb_passwd
    ports:
    - 8080:8080

secrets:
  existdb_passwd:
    file: ./edirom-docker-setup/existdb_passwd.txt